//Colors//

$primary-color: #0041A8;
$primary-color-var: #869ABB;

$seconday-color: #ffa43b;

$default-color: #fff;
$default-color-var: #000;

//Fonts//

$font-stack: Helvetica, sans-serif;

$font-basic: 16px;
$font-small: 12px;
$font-mid: 18px;

$font-title-large: 32px;
$font-title-mid: 24px;
